* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  max-height: 100vh;
}
body {
  margin: 0 auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(35, 35, 135, 1) 12%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Abril Fatface", cursive;
  font-family: "Architects Daughter", cursive;

}

.page-title {
  color: mediumvioletred;
  font-family: Abril Fatface;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  font-family: Abril Fatface, serif;
  color: rgb(15, 47, 48);
  font-size: 2em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
  max-height: 50vh;
  padding-bottom: 45px;
}

.card {
  position: relative;
  height: 150px;
  width: 140px;
}



.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-value {
  animation: tada 1s linear 1 300ms;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #2b7c54;
  font-family: "Josefin Sans", sans-serif;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.card-back {
  background-color: black;
  border-color: cadetblue;
}

.card-front {
  background-color: #89fff5;
  border-color: #333;
  transform: rotateY(180deg);
}

.card-value {
  transition: transform 100ms ease-in-out;
  transform: scale(0.9);
}

.card-front:hover .card-value {
  transform: scale(1);
}

.tile {
  align-self: flex-start;
  transform: translateY(-10px);
  transition: transform 100ms ease-in-out;
}

.card-back:hover .tile {
  transform: translateY(0);
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
